* {
    font-size: 15px; /* Définit la taille de la police */
    font-family: Arial, sans-serif; /* Définit la police de caractères */
    text-align: justify;
}

#legend {
    border: 1px solid #000; /* Définit une bordure noire */
    padding: 10px; /* Ajoute un espace à l'intérieur du rectangle */
    background-color: #fff; /* Définit la couleur de fond du rectangle */
    width: 97%; /* Définit la largeur de l'iframe */
    float: left;
    margin-right: 20px; /* Ajoute un espace à droite du rectangle */
    clear: both; /* Empêche les éléments flottants de se superposer */
    text-align: center;
    margin-bottom: 10px;
}

#rowmer{
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: grid;
}

#loge{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

span {
    margin: 0 10px; /* Ajoute un espace de 10px à gauche et à droite de chaque span */
    text-align: center; /* Centre le texte dans le span */
}

#content {
    display: flex;
    justify-content: center;
}

#map {

        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    flex: 1;
}

#text {
    flex: 1;
    column-span: all;
    width: 100%; /* Définit la largeur de l'iframe */
    float: right;
    margin-left: 20px; /* Ajoute un espace à gauche du rectangle */
    margin-right: 20px;
    text-align: justify;
    justify-content: center;

    border: 1px solid black; /* Ajoute une bordure verte */
    padding: 10px; /* Ajoute un espace à l'intérieur du rectangle */
    border-radius: 10px; /* Arrondit les coins du rectangle */
}

#carte {
    width: 100%; /* Définit la largeur de l'iframe */
    height: 700px; /* Définit la hauteur de l'iframe */
}

.svelte-9iziq1 {
    width: 100%; /* Définit la largeur de l'iframe */
    height: 700px; /* Définit la hauteur de l'iframe */
}

li{
    margin-bottom: 10px; /* Ajoute un espace en bas de chaque élément de la liste */
    margin-left: 10px;
}


body {
    column-count: 2; /* Divise le contenu en trois colonnes */
    column-gap: 40px; /* Définit l'espace entre les colonnes */
    padding: 20px; /* Ajoute un espace autour du contenu */
}

h1, h2, h3 {
    column-span: all; /* Fait en sorte que les titres s'étendent sur toutes les colonnes */
}

p, li {
    column-span: all;
}

#loyalty-points {
    column-span: all;
}

#header {
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

#maison {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    justify-content: center;

    transform: scale(0.5);
}

#header1{
    justify-content: center;
    align-items: center;

}

.tabl {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 5px;
    width: 100%;
}

#aide{
    color: green;
    border: 1px solid green; /* Ajoute une bordure verte */
    padding: 10px; /* Ajoute un espace à l'intérieur du rectangle */
    border-radius: 10px; /* Arrondit les coins du rectangle */
}

#footer {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    background-color: #3c6eff;
    column-span: all;
    padding: 10px;
    border-radius: 10px;
    color: white;

}

#charlie{
    background-color: #3c6eff;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

h2 {
    color: #3c6eff; /* Couleur du texte */
    text-align: center; /* Centrage du texte */
    font-size: 19px; /* Taille de la police */
    padding: 10px; /* Espacement autour du texte */
}

#tableau {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div {
    clear: both;
}